.three-quarters {
    width: 75%;
}

.small-display {
    font-size: 2.25rem;
}

.small-img {
    width: 75px;
    height: 75px;
}

.flexible-quarters {
    width: 50%
}
@media(max-width: 1200px){
    .flexible-quarters {
        width: 75%;
    }
}
@media(max-width: 1000px){
    .flexible-quarters {
        width: 100%;
    }
}